body {
    background-color: var(--bg-3);
}

#contact {

    position: relative;
    /* overflow: clip; */
    /* gap: 15px; */


    & .title {
        position: relative;

        & h2,
        h3 {
            color: var(--light);
        }

        & span {
            position: absolute;
            z-index: -1;

            & .deco-right {
                top: 0px;
                left: 0px;
            }

            & .deco-left {
                top: 0px;
                right: 0px;
            }
        }
    }


    & .content {
        width: 70vw;
        background: #fff;
        border-radius: 5rem;
        padding: 7rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        & form {
            justify-content: flex-end;

            & .box {
                width: 45%;
                padding: 4rem 0 0;
            }

            & .req:after {
                content: "必須";
                display: inline-block;
                font-size: 12px;
                padding: 5px 9px;
                color: #fff;
                background: #089f4a;
                margin-left: 15px;
                font-weight: 700;
                border-radius: 11px;
                -webkit-transform: translateY(-2px);
                transform: translateY(-2px);
            }

            & .form {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;

                & .form_tit {
                    position: relative;
                    display: block;
                    margin-bottom: 2rem;
                    height: 23px;

                    & label {
                        font-size: var(--font-lg);
                        color: var(--secondary-2);
                        letter-spacing: 0.12em;
                    }
                }

                & .form_input {
                    width: 100%;
                    height: 70px;
                    border: 1px solid var(--secondary-2);
                    border-radius: .5rem;

                    & .form-item {
                        width: 100%;
                        height: 70px;
                        padding: 0 2.5rem;
                        font-size: 1.6rem;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border: none;
                        background: none;
                        letter-spacing: 0.08em;

                        &:focus {
                            outline: transparent;
                        }

                        &::placeholder {
                            font-size: var(--font-sm);
                        }
                    }
                }

                & .b_box {
                    width: 100%;
                    padding-top: 4rem;

                    & .b-item {
                        height: 380px;
                        padding-top: 2.5rem;

                        & .form-item {
                            height: 380px;
                        }
                    }
                }
            }
        }

        & .link_btn {
            margin-top: 20px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-radius: 35px;
            overflow: hidden;
            background-color: #089f4a;
            width: 70px;
            height: 50px;

            & .submit-btn {
                position: absolute;
                left: 0;
                top: 0;
                background-color: transparent;
                border: none;
                cursor: pointer;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                height: 70px;
                background: none;
                cursor: pointer;
            }

            & span {
                justify-content: center;
                align-items: center;
                font-size: var(--font-sm);
                color: #fff;
                font-weight: 500;
            }
        }

    }
}